* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(107, 0, 0);
}

h1,
h2,
h3 {
    margin: 0;
}

body {
    display:flex;
    flex-direction: column;
    line-height: 1.2;
    background-color: black;
}

/*--------- Header --------- */
header {
    display:flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: black;
    border-bottom: 7px solid orangered;
}

header h1{
    font-size: 200%;
    background-color: black;

}

header nav ul li {
    display: inline-block;
    align-items: center;
    font-size: 125%;
    padding-right: 11px;
}

/* ---- Highlight options in nav bar top/bottom/sidebar ---- */
.highlight a{
    padding-right: 11px;
    text-decoration: none;
    
}

.highlight a:hover {
    color: linen;
    text-shadow: 1px 1px orange;

}

/* --------- Pumpkin Image ----------*/
.pumpkin {
    height: 200px;
    display: flex;
    background: url(./images/pumpkin.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    top: 0px;
    left: 0px;

}

/* Style for Languages I'm Learning */
.languages {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
    font-style: italic;
    position:absolute;
    bottom: 10px;
    left: 10px;
    color: linen;

}

/* HTML 5 Logo */
.symbol1 {
    position: absolute;
    top: 165px;
    left: 220px;
}
/* HTML 5 Glow */
.symbol1:hover{
    background-color: darkred;
    box-shadow: 0 0 5px 5px darkred;
    border-radius: 50%;
}


/* CSS3 Logo */
.symbol2 {
    position: absolute;
    top: 165px;
    left: 253px;
}

/* CSS Glow */
.symbol2:hover{
    background-color: darkred;
    box-shadow: 0 0 5px 5px darkred;
    border-radius: 50%;
}

/* Python Logo */
.symbol3 {
    position: absolute;
    top: 165px;
    left: 283px;
}

/* Python Glow */
.symbol3:hover{
    background-color: darkred;
    box-shadow: 0 0 5px 5px darkred;
    border-radius: 50%;
}

/* Javascript Logo */
.symbol4 {
    position:absolute;
    top: 165px;
    left: 313px;
}

/* Javascript Glow */
.symbol4:hover{
    background-color: darkred;
    box-shadow: 0 0 5px 5px darkred;
    border-radius: 50%;
}

/* --------------------------------------------- */


/* -------- About Me -------*/
.aboutme {
    display:flex;
    width: 100%;
    background: black;
    border-top: 7px solid orangered;
}


.aboutme p {
    font-size:large;
    text-align: center;
    margin: 30px;
    color: linen;
    border-color:black;
}
/* ----- My image ----- */
.portrait {
    max-height: 250px;
    width: 12%;
    min-width: auto;
}

.left {
    float: left;
    margin-left: 20px;
}
/*----- My Favorite Things ----- */
section h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

section nav {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

section nav a {
    text-align-last: inherit;
    margin-bottom: 25px;
}


/* ----------- Flexboxes for my work section -----------*/

 .flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexbox-item {
    width: 20%;
    height: 150px;
    flex-basis: calc(50%-1em);
    border: 5px solid darkred;
    object-fit: cover;
    vertical-align: top;
    display:flex;
    align-items: flex-end;
    margin: 10px;
    background:left;
    background-image: url("./images/coming-soon-g1153e42f7_640.jpg");
    background-size:cover;
}

.flexbox-big {
    min-height: 300px;
    flex-basis: 79%;
    background:left;
    background-image: url("./images/01-html-css-git-homework-demo.png");
    background-size:cover;
}
.flexbox-container div {
    background-color:linen;
    padding: 8px 10px;

}

.flexbox-container h4 {
    font-size: 1.6rem;


}

/* ---------- Footer --------*/

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    border-bottom: 7px solid orangered;
    border-top: 7px solid orangered;
}

footer h1 {
    font-size: 175%;
    background-color: black;

}

footer nav ul li {
    display: inline-block;
    align-items: center;
    font-size: 150%;
    padding-right: 11px;

}

@media screen and (max-width: 930px) {
    .flexbox-container {
        flex-direction: column;
        align-items: center;
    }

    .flexbox-item {
        width: 80%;
        height: 200px;
    }

    .aboutme {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


